:root {
	--gemport-search--entry-gap: 1em;
	--gemport-search--entries-gap: 1em;
	--gemport-search--entries-columns: 2;
	--gemport-search--inner-gap: 1em;

	--gemport-search--contact-gap: 1ch;

	--gemport-search--list-entries-gap: 2em;
	--gemport-search--list-entry-gap-x: 1em;
	--gemport-search--list-entry-gap-y: 1em;
	--gemport-search--list-inner-gap: 1em;
	--gemport-search--list-image-width: 210px;

	--gemport-search--sticky-top: 0;
	--gemport-search--sticky--stuck-background: rgba(255, 255, 255, .8);
	--gemport-search--sticky--stuck-background-blur: .5em;

	body.admin-bar {
		--gemport-search--sticky-top: var(--wp-admin--admin-bar--height);
	}

	@media screen and (min-width:37.5em) {
		--gemport-search--list-entry-gap-x: 2em;
		--gemport-search--list-entry-gap-y: 1em;
	}
}

.wp-block-shp-gemport-search {

	&__button-wrapper {
		display: flex;
		align-items: baseline;
	}

	&__entries {
		list-style: none;
		padding-left: 0;
		display: inline-grid;
		align-items: baseline;
		grid-gap: var(--gemport-search--entries-gap);

		@media screen and (min-width: 37.5em) {
			grid-template-columns: repeat(var(--gemport-search--entries-columns), 1fr);
		}
	}

	&__entry {
		&-label {
			display: inline-flex;
			align-items: baseline;
			gap: var(--gemport-search--entry-gap);
		}
	}

	&__form-inner {
		display: inline-grid;
		gap: var(--gemport-search--inner-gap);
	}

	&__list {

		&-entries {
			list-style: none;
			padding-left: 0;
			display: inline-grid;
			align-items: baseline;
			grid-gap: var(--gemport-search--list-entries-gap);
		}

		&-entry {
			display: grid;
			gap: var(--gemport-search--list-entry-gap-y) var(--gemport-search--list-entry-gap-x);
			grid-template-areas:
				"logo"
				"title"
				"description"
				"contact"
				"more";
			grid-template-columns: 1fr;

			@media screen and (min-width:37.5em) {
				grid-template-areas:
					"title title"
					"description logo"
					"contact more";
				grid-template-columns: 2fr 1fr;
			}

			@media screen and (min-width:48em) {
				grid-template-columns: 2fr 13.125rem;
			}


			> :where(*) {
				margin-top: 0;
				margin-bottom: 0;
			}

			&-contact {
				grid-area: contact;
			}

			&-description {
				grid-area: description;
			}

			&-figure {
				grid-area: logo;
			}

			&-image {
				width: 100%;
				height: auto;
				max-width: var(--gemport-search--list-image-width);
			}

			&-more {
				grid-area: more;

				@media screen and (min-width:37.5em) {
					justify-self: end;
					align-self: center;
				}
			}

			&-title {
				grid-area: title;

				@media screen and (min-width:37.5em) {
					align-self: center;
				}
			}
		}

		&-entry-contact {
			display: flex;
			gap: var(--gemport-search--contact-gap);
			flex-wrap: wrap;

			&-value {
				&:after {
					content: '/';
					margin-left: calc(var(--gemport-search--contact-gap)/2);
				}

				&:last-child:after {
					content: '';
				}
			}
		}

		&-inner {
			display: grid;
			gap: var(--gemport-search--list-inner-gap);
		}
	}
}
